<!DOCTYPE html>
<html>
<head>
  <title>RegistrationApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Will, Jack, and Vivian's Page</h1>
<%=flash.now[:alert]%>
<%= yield %>

</body>
</html>
